body {
    background: #1a1917;
    color: #a19e9e;
    font-size: 15px;
}

#page {
    max-width: 1366px;
    margin: 0 auto;
    overflow: hidden;
    background: #1a1917 /*url(../images/bg.jpg) top center / cover no-repeat*/;
    padding-top: 50px;
}

.movies .movieList .item {
    cursor: pointer;
    border-bottom: 2px dashed #555;
    margin-bottom: 18px;
}

.movies .item .thumbnail {
    border-radius: 0;
    background: transparent;
}

.movies .item .thumbnail .caption h3 {
    color: #a78613;
    margin: 0;
    font-size: 16px;
}

.movies .item .thumbnail .caption h3 span {
    display: block;
    font-size: 12px;
    color: #817a7b;
    padding-top: 5px;
}

.movies .item .thumbnail .img {
    position: relative;
    overflow: hidden;
}

.movies .item .thumbnail img {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.movies .item .thumbnail:hover .img::before,
.movies .item .thumbnail:hover .img::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.movies .item .thumbnail:hover .img img {
    transform: translate3d(0, 0px, 0) scale(1.1, 1.1);
    -webkit-transform: translate3d(0, 0px, 0) scale(1.1, 1.1);
    -moz-transform: translate3d(0, 0px, 0) scale(1.1, 1.1);
}

.movies .item .thumbnail .img::before,
.movies .item .thumbnail .img::after {
    position: absolute;
    content: '';
    opacity: 1;
    z-index: 1;
    pointer-events: none;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.movies .item .thumbnail .img::before {
    top: 15px;
    right: 10px;
    bottom: 15px;
    left: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.movies .item .thumbnail .img::after {
    top: 10px;
    right: 15px;
    bottom: 10px;
    left: 15px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.movies .section .title h2 {
    font-size: 20px;
    color:#a78613;
    text-transform: capitalize;
}
.breadcrum {
    overflow: hidden;
}
.breadcrum a,
.breadcrum span {
    font-size: 16px;
    color: #a78613;
    padding: 10px 5px;
    display: inline-block;
}
.movieInfo .info {
    overflow: hidden;
    background: #0d0d0c;
}
.movies .movieInfo .title h2 {
    font-size: 24px;
    color: #f5cc2a;
    text-transform: uppercase;
}
.movies .movieInfo .title h2 span {
    font-size: 20px;
    color:#fefbf0;
    display: block;
    padding-top: 5px;
}
.infoList .item h3 {
    font-size: 15px;
    color: #a78613;
    text-transform: capitalize;
}
.infoList .item p:first-letter {
    text-transform: capitalize;
}
.headerInner {
    background: #f5cc2a;
}
.nav li a {
    color: #1a1918;
    text-transform: capitalize;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.nav li a:hover {
    background: #312908;
    color: #ffd71a;
}
.headerInner .nav-tabs {
    border: 0;
}
.topbar .navbar {
    margin: 0;
    min-height: 0;
}
.section {
    position: relative;
}
.section::before {
    content: '';
    position: absolute;
    left: 0;
    top: -25px;
    width: 100%;
    height: 30px;
    background: #1a1917;
}
.copy p {
    padding: 20px 0;
}
span.play {
    width: 60px;
    height: 60px;
    background: url(../images/play.png) 0 0 / contain no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%,0);
    -moz-transform: translate3d(-50%, -50%,0);
    -ms-transform: translate3d(-50%, -50%,0);
    -o-transform: translate3d(-50%, -50%,0);
    transform: translate3d(-50%, -50%,0);
}